{% extends 'base.html' %}

{# Для вывода значения словаря, обращаемся к нему по ключу ({{ var_dict.key }}) #}
{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">{{ title|title }}</h1>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="">
    <div class="card-body">
      <form class="p-2 card" action="/search/">
        <div class="input-group">
          <input name="search" class="form-control" type="search" 
            placeholder="Поиск" {% if search_key %}value="{{ search_key }}"{% endif %}>
          <div class="input-group-append">  
            <button class="btn btn-secondary" type="submit">Найти</button>
          </div> 
        </div> 
      </form>  
    </div>
    {% include 'posts/includes/lists_posts.html' %}
    {% include 'posts/includes/paginator.html' %}
  </div>
</div>
{% endblock %}
